.month-row {
    width : 5%;
}

#vltime {
    margin-top: 4px; 
    border-left: 3px dashed orange; 
    height: 200px; 
    position: absolute; 
    color: orange; 
    margin-left: 1px; 
    padding: 0px;
}
