body {
    line-height: 2vh;

    .row{
        margin-left: 0;
        margin-right: 0;
    }
}

thead {
    color: white;
}

#event {
    h5 {
        text-transform: uppercase;
    }

    .icon {
        margin: 0;
        padding: 0;
        text-align: center;
    }

    .information_row {
        h5{
            font-weight: bold;
        }
    }

    .attention_row {
        .fas, h5{
            color: orange;
            font-weight: bold;
        }
    }

    .projects_row {
        .fas, h5{
            color: darkblue;
            font-weight: bold;
        }
    }

    .various_row {
        .fas, h5{
            color: deepskyblue;
            font-weight: bold;
        }
    }

    .calendar_row {
        .fas, h5{
            color: green;
            font-weight: bold;
        }
    }
}