.bg-card-main{
    background-color: $dashboard_blue_dark;
    max-width: 8rem;
}
.bg-card-footer{
    background-color: $dashboard_blue_darker;
}



.noPicket{
    .redIcon{
        color: $alertRed;
    }
    .redText{
        color: $alertRed;
    }
}
